<!--3.2 vou invocar o event no meu componente(EVENT BIND) e passarei
para um metodo local 'transferir', dentro dele propagamos o valor emitido,
normalmente um valor emitido num evento, se chama '$event'>> var,
ou seja o valor do valorEmitir do metodo transferir, vira $event aqui para ter acesso a info
3.3 vou criar uma tag <p> e essas duas chaves = está INTERPOLANDO valor
  Assim Valor(tipo label, visualizado na pag) = variavel que esta dentro de 'valor'
valor e destino sao propried que existem dentro do objeto transferencia
A interrogacao'?' serve pq so vai mandar se tiver algo no obj transferencia, manda a propried destino pra mim...
4.2 Atraves do property bind, vai aparecer um atrib 'transferencia' e receberá o valor
de uma var 'transferencia' que esta declarada no app.component.ts
Resumindo acima: estou pegando a propr 'transf' q ta dentro do app.compo.ts, via property bind e
estou passando pra minha propr '[transf]' do compon de extrato
4.3 Onde estavam escritos 'transferencia' vou colocar com 's'
5.2 Vou remover esta parte [transfs]... pq no compon de extrato vou injetar meu service
6.3 vou remover o aoTransf de dentro do app-nova-transf
-->

<!--
  <app-nova-transferencia

></app-nova-transferencia>

<app-extrato></app-extrato>

ERA ASSIM, DEPOIS DO 7.1 ELE IMPLEMENTOU O
ROUTER-OUTLET(serve para renderizarmos o conteudo de pags aqui dentro): faz parte do routermodule
7.2 vou colocar main, header(cabeçalho) entre o router outlet
Inves de utilizarmos o 'href', usaremos o 'routerlink'= só muda o compon interno, e nao a pag toda!
POR FIM, vamos colocar o routerlinkactive para nao aparecer no header o 'nova transf' qd estivermos nela msm
a classe ativo esta no css, ele ficara none, sumira da tela!
-->
<header>
  <a routerLink='extrato'>Bytebank</a>
  <a routerLink='nova-transferencia' routerLinkActive="ativo">Nova Transferência</a>
</header>
<main>
  <router-outlet></router-outlet>
</main>
